.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.headerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerForm input[type=text], .header div, h3 {
  margin: 5px;
}